.about-container {
  display: flex;

  img {
    height: 100vh;
  }

  .about-content-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .about-title {
      @include page-title;
    }
    .about-subtitle {
      @include page-subtitle;
    }
    .about-paragraph-wrapper {
      width: 70%;
      .about-paragraph {
        font-size: 1.3em;
        margin-top: 10px;
        color: $dark-gray;
      }
    }
  }
}
