.about-container {
  display: flex;
  align-items: center;

  img {
    width: 60%;
  }

  .about-content-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .about-title {
      @include page-title;
    }
    .about-subtitle {
      @include page-subtitle;
    }
    .about-paragraph-wrapper {
      width: 80%;
      .about-paragraph {
        font-size: 1.3em;
        margin-top: 10px;
        color: $dark-gray;
      }
    }
  }
}
@media (max-width: 1610px) {
  .about-container {
    display: flex;
    flex-direction: column-reverse;

    img {
      width: 100%;
    }
  }
}
