.home-container {
  .scrolling-items-wrapper {
    .scrolling-item {
      display: flex;
      justify-content: center;
      align-items: center;
      .scrolling-item-image {
        width: 100%;
        // filter: blur(4px);
        // -webkit-filter: blur(4px);
      }
      .overlapping-text {
        position: absolute;
        color: white;
        font-weight: 200;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90%;
        .overlapping-title {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          font-size: 5em;
          text-shadow: -4px 5px black;
          max-width: 90vw;
          padding: 20px;
        }
        .overlapping-sub-title {
          margin-top: 10px;
          font-size: 1.4em;
        }
      }
    }
  }
  .power-words {
    padding-top: 0.3em;
    padding-bottom: 1.5em;
    font-size: 2.2em;
    color: rgb(110, 110, 110);
  }
  .demo-video-container {
    .demo-video-section {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 700px;
      }
      .watch-video-button {
        cursor: pointer;
        position: absolute;
        padding: 1em;
        border-radius: 5px;

        font-size: 1.3em;
        background-color: rgb(73, 73, 73);
        color: white;
        transition: 0.1s ease-in-out;
        &:hover {
          background-color: $baby-blue;
        }
      }
    }
  }

  .three-column-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .three-column-wrapper {
      width: 70%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
      .column-wrapper {
        text-decoration: none;
        color: black;
        img {
          cursor: pointer;

          width: 100%;
          padding: 5px;
          border: 2px solid rgba(128, 128, 128, 0.123);
          transition: 0.3s ease-in-out;
          &:hover {
            border: 2px solid $faded-baby-blue;
          }
          transition: 0.1s ease-in-out;
          &:active {
            border: 2px solid $baby-blue;
          }
        }
        .column-title {
          text-align: start;
          padding-top: 20px;
          font-size: 2em;
          font-weight: 600;
        }
        .column-paragraph {
          padding-top: 10px;
          font-size: 1.2em;
          text-align: start;

          text {
            cursor: pointer;
            color: $baby-blue;

            &:hover {
              text-decoration: underline;
            }

            &:active {
              color: $darker-baby-blue;
            }
          }
        }
        button {
          cursor: pointer;
          height: 55px;
          width: 180px;

          background-color: $gray;
          color: white;

          margin-top: 5px;
          outline: none;
          border: none;
          border-radius: 5px;
          font-size: 1.3em;

          transition: 0.3s ease-in-out;
          &:hover {
            background-color: $baby-blue;
          }
          transition: 0.1s ease-in-out;
          &:active {
            background-color: $darker-baby-blue;
          }
        }
      }
    }
  }

  .recent-clients-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include no-highlight;
    .logo-wrapper {
      width: 80%;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .logo {
        margin: 7px;
      }
      .samsung {
        height: 7em;
      }
      .dendreon {
        height: 6em;
      }
      .tissue {
        height: 7em;
      }
      .bottega {
        height: 7em;
      }
      .uapcs {
        height: 8em;
      }
    }
  }
}
.divider {
  height: 2px;
  width: 100%;
  margin: 40px 0px;

  display: flex;
  justify-content: center;
  .line {
    width: 90%;
    background-color: $baby-blue;
  }
}

.three-column-title {
  font-style: italic;
}

.section-title {
  @include section-title;
}

.modal-video {
  background-color: rgba(0, 0, 0, 0.89);
  cursor: default;
}

.modal-video-close-btn {
  cursor: pointer;
}

.modal-video-body {
  max-width: 70%;
}

@media (max-width: 1200px) {
  .home-container {
    .scrolling-items-wrapper {
      .scrolling-item {
        .overlapping-text {
          .overlapping-title {
            font-size: 3em;
            height: 40px;
          }
          .overlapping-sub-title {
            font-size: 1.1em;
          }
        }
      }
    }
    .three-column-section {
      .three-column-wrapper {
        width: 90%;
      }
    }
    .recent-clients-section {
      .logo-wrapper {
        width: 90%;
        .logo {
          max-width: 100%;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .home-container {
    .scrolling-items-wrapper {
      .scrolling-item {
        .overlapping-text {
          align-items: center;
          justify-content: center;
          .overlapping-title {
            font-size: 2em;
            height: 20px;
            text-shadow: -2px 2px black;
          }
          .overlapping-sub-title {
            font-size: 0.9em;
          }
        }
      }
    }
    .demo-video-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .demo-video-section {
        img {
          height: 500px;
        }
      }
    }
    .three-column-section {
      .three-column-wrapper {
        display: flex;
        flex-direction: column;
        .column-wrapper {
          margin-bottom: 30px;
        }
      }
    }
  }
}
