.meeting-container {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  .meeting-wrapper {
    width: 70%;
    .title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 50px;
      .meeting-planner-title {
        @include page-title;
      }
      .meeting-sub-title {
        @include page-subtitle;
        width: 80%;
        font-style: italic;
      }
    }
    .items-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .mpitem-container {
        display: flex;
        font-size: 1.2em;
        padding-bottom: 20px;

        .item-title {
          font-weight: 600;
          width: 300px;
          flex-shrink: 0;
          padding-right: 20px;

          display: flex;
          justify-content: flex-end;
        }
        .item-content {
          display: flex;
          text-align: left;
          flex-direction: column;

          div {
            display: list-item;
            list-style-type: circle;

            margin-left: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .meeting-container {
    .meeting-wrapper {
      width: 90%;
      .items-wrapper {
        .mpitem-container {
          .item-title {
            width: 200px;
            text-align: right;
          }
        }
      }
    }
  }
}

@media (max-width: 670px) {
  .meeting-container {
    .meeting-wrapper {
      .items-wrapper {
        display: flex;
        align-items: center;
        .mpitem-container {
          width: 90%;

          display: flex;
          flex-direction: column;
          align-items: center;
          .item-title {
            width: auto;
            padding-right: 0;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
