.footer-container {
  padding: 20px;

  background-color: rgb(48, 54, 78);
  color: rgb(206, 206, 206);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .contact-info-wrapper {
    display: flex;

    img {
      height: 13em;
      padding: 25px;
    }

    .contact-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      padding: 40px;

      font-size: 1.4em;

      div {
        transition: 0.3s ease-in-out;
        margin-bottom: 4px;
        &:hover {
          color: $faded-baby-blue;
        }
      }

      .contact-icon {
        margin-right: 8px;
      }
    }
  }

  .copyright-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .copyright-icon {
      font-size: 0.8em;
    }
    .copyright-text {
      font-size: 1.05em;
      padding-left: 2px;
      padding-bottom: 2px;
    }
  }
}
@media (max-width: 700px) {
  .footer-container {
    .contact-info-wrapper {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}
