@mixin no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@mixin page-title {
  font-size: 3em;
  font-weight: 600;
  color: $dark-gray;
}

@mixin page-subtitle {
  font-size: 1.8em;
  color: $baby-blue;
}

@mixin section-title {
  font-size: 2.8em;
  margin-bottom: 1em;
}
